body {
  background: #eee;
  margin: 0 auto;
  max-width: 800px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.course {
  background: #2a265f;
  padding: 10px;
  margin: 10px;
  width: 40%;
}

.course h4 {
  color: #fff;
  text-transform: uppercase;
}

.courses {
  display: flex;
  flex-wrap: wrap;
}

.course-info {
  display: flex;
  justify-content: space-between;
}

.filters {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.filters button {
  background-color: #2a265f;
  color: white;
  border-radius: 5px;
  padding: 10px 45px;
  margin-right: 10px;
  border: 1px solid #eee;
  font-weight: bold;
}
